<button class="add-button" {{action 'newTask'}}>Добавить позицию</button>

<div class="list">
    {{#each sortedTasks as |task|}}
        {{task-item class="item" task=task}}
    {{/each}}
</div>

{{#if isShowingModal}}
  {{#modal-dialog close="close" clickOutsideToClose=true}}

    <div class="modal">
      <h3>Добавление нового пункта</h3>
      <div>
        <label>Название</label>
        {{input value=taskName}}
      </div>
      <div>
        <label>Время</label>
        {{input-time 
          displayFormat="HH:mm"
          format="object"
          timeInterval=10
          pickerDisplayFormat="HH:mm"
          value=taskTime}}
      </div>
      <p>
        <button class="add-button" {{action "createTask"}}>OK</button>
      </p>
      <p>
        <button class="add-button" {{action "cancel"}}>Cancel</button>
      </p>

    </div>

  {{/modal-dialog}}
{{/if}}