{{input type="checkbox" checked=task.isChecked}}
<p class="inline task-time" onclick={{action "showTimePicker"}}>{{moment-format task.time 'HH:mm'}}</p>
<h1 class="inline task-text" onclick={{action "showModal"}}> {{task.name}} </h1>
<button class="inline remove-button" {{action 'removeTask' task.id}}>x</button>

{{#if isShowingModal}}
  {{#modal-dialog close="close" clickOutsideToClose=true}}

    <div class="modal">
      <h3>Изменение пункта</h3>
      <label>Название</label>
      {{input value=(mut task.name)}}
      <input type="hidden" value={{task.id}}>
      <p>
        <button {{action "updateTask"}}>OK</button>
      </p>
      <p>
        <button {{action "cancel"}}>Cancel</button>
      </p>

    </div>

  {{/modal-dialog}}
{{/if}}

{{#if isShowingTimePicker}}
  {{time-picker
    select="selectTime"
    selectedTime=task.time 
    displayFormat="HH:mm"
    output="date"
    timeInterval=10
    close="closeTimePicker"}}
{{/if}}